.navbar {
    width: 100% -10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.title {
    margin: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100vh;
    width: 80vw;
    background-color: #ababab;
    color: #252525;
    position: fixed;
    top: 0;
    left: 0;
}

.searchbar {
    width: 100%;
    background-color: #ababab;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.searchbar input {
    border-radius: 4px;
    border: none;
    width: 80vw;
}

.search {
    margin-left: 5px;
    width: 20px;
    height: 20px;
}