.profile {
    width: 100% -10px;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

.profile img {
    max-height: 25vh;
}

.edit {
    float: right;
}