.search-page h1{
    text-align: center;
    margin-bottom: 10px;
}

.search-page {
    padding-top: 60px;
    width: 40vw;
    margin: auto;
}

@media (max-width: 425px) {
    .search-page {
        width: 100%
    }
}