@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');

.app {
    font-family: "Turret Road", monospace, sans-serif;
    font-weight: 600;
    background-color: #252525;
    color: #ababab;
    min-height: 100vh;
    min-width: 100%;
}

.app button{
    font-family: "Turret Road", monospace, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    font-size: 25px;
}

.app button:hover {
    cursor: pointer;
}

.app input {
    border-color: #ababab;
    border-style: solid;
    border-width: 1px;
    background-color: #252525;
    color: #ababab;
    border-radius: 25px;
    padding: 5px;
}

@media (max-width: 425px) {

    .app input {
        border-radius: 10px;
        padding: 0 5px;
    }

    .app button {
        border-radius: 10px;
        font-size: 14px;
    }
}